<p id="notice"><%= notice %></p>

<h1>Trips</h1>

<table>
  <thead>
    <tr>
      <th>Ski resort</th>
      <th>Resort city</th>
      <th>Resort state</th>
      <th>Cost</th>
      <th>Gross earned</th>
      <th>Net earned</th>
      <th>Req count</th>
      <th>Actual count</th>
      <th>Trip date</th>
      <th>Trip distance</th>
      <th>Trip days</th>
      <th>Resort rating</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trips.each do |trip| %>
      <tr>
        <td><%= trip.ski_resort %></td>
        <td><%= trip.resort_city %></td>
        <td><%= trip.resort_state %></td>
        <td><%= trip.cost %></td>
        <td><%= trip.gross_earned %></td>
        <td><%= trip.net_earned %></td>
        <td><%= trip.req_count %></td>
        <td><%= trip.actual_count %></td>
        <td><%= trip.trip_date %></td>
        <td><%= trip.trip_distance %></td>
        <td><%= trip.trip_days %></td>
        <td><%= trip.resort_rating %></td>
        <td><%= link_to 'Show', trip %></td>
        <td><%= link_to 'Edit', edit_trip_path(trip) %></td>
        <td><%= link_to 'Destroy', trip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trip', new_trip_path %>
