<!DOCTYPE html>
<html>
  <head>
    <title>OhioCitySkiClubRails</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  </head>
  <body data-aos-easing="ease-in-out-sine" data-aos-duration="1000" data-aos-delay="0">
    <% if user_signed_in? %>
      <%= render 'shared/topnav' %>
    <% end %>
    <%= render 'shared/navbar' %>
    <%= yield %>
  </body>
</html>
