
<div class="am-wrapper am-login am-signup">
  <div class="am-content">
    <div class="main-content">
      <div class="login-container sign-up">
        <div class="panel panel-default">
          <div class="panel-heading">
            <img src="assets/img/logo-full-retina.png" alt="logo" width="150px" height="39px" class="logo-img">
            <%= image_tag "", class: "logo-img" do %>
              <span>Please enter your user information.</span>
            <% end %>
            </div>
            <div class="panel-body">
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, class: "form-horizontal") do |f| %>
                <div class="form-group row social-signup">
                  <div class="col-xs-6">
                    <button type="button" class="btn btn-block btn-social btn-facebook"><i class="fa fa-facebook icon icon-left"></i> Facebook</button>
                  </div>
                  <div class="col-xs-6">
                    <button type="button" class="btn btn-block btn-social btn-twitter"><i class="fa fa-twitter icon icon-left"></i> Twitter</button>
                  </div>
                </div>
                <div class="title"><span class="title">Or</span></div>
                <div class="form-group">
                  <div id="nick-handler" class="input-group"><span class="input-group-addon"><i class="icon s7-user"></i></span>
                    <input type="text" name="nick" data-parsley-trigger="change" data-parsley-errors-messages-disabled="true" data-parsley-class-handler="#nick-handler" required="" placeholder="Username" autocomplete="off" class="form-control">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-xs-6">
                    <%= f.password_field :password, autocomplete: "new-password" %>
                    <% if @minimum_password_length %>
                      <br />
                      <em><%= @minimum_password_length %> characters minimum</em>
                    <% end %>
                    </div>
                  </div>
                  <div class="col-xs-6">
                    <div id="confirm-handler" class="input-group">
                      <span class="input-group-addon">
                        <i class="icon s7-lock"></i></span>
                      <%= f.label :password_confirmation %><br />
                      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
                    </div>
                  </div>
                  <div class="col-xs-6">
                    <%= f.label  %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
